.chart1
{
    height: 300px; 
    width: 300px;
    display: inline-block;
}

.chart2
{
    height: 300px; 
    width: 300px;
    display: inline-block;
}

.chart3
{
    height: 300px; 
    width: 300px;
    display: inline-block;
}

table#alertTable1 td {
    width: 50% ;
    padding: 15px;
  }

  table#alertTable2 td {
    width: 50% ;
    padding: 15px;
  }

  table#alertTable3 td {
    width: 50% ;
    padding: 15px;
  }