.chart1
{
    height: 300px; 
    width: 300px;
    display: inline-block;
}

.chart2
{
    height: 300px; 
    width: 300px;
    display: inline-block;
}

.chart3
{
    height: 300px; 
    width: 300px;
    display: inline-block;
}
